<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="card-title text-primary">Consulta de Produtos</h2>
                    <p class="card-subtitle text-muted">Confira a listagem de produtos cadastrados no sistema.</p>
                    <hr>
                    
                    <div *ngIf="mensagem" class="alert alert-success mb-2 alert-dismissible">
                        <strong>Sucesso!</strong> {{ mensagem }}
                        <button (click)="mensagem = ''" type="button" class="btn-close" aria-label="Close"></button>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="table-primary">
                                <tr>
                                    <th>Nome do produto</th>
                                    <th>Preço</th>
                                    <th>Quantidade</th>
                                    <th>Total</th>
                                    <th>Categoria</th>
                                    <th>Operações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let produto of produtos">
                                    <td>{{ produto.name | uppercase }}</td>
                                    <td>{{ produto.price | currency: 'BRL' }}</td>
                                    <td>{{ produto.quantity }}</td>
                                    <td>{{ produto.total | currency: 'BRL' }}</td>
                                    <td>{{ produto.categoryName | uppercase }}</td>
                                    <td>
                                        <button
                                            [routerLink]="['/pages/edicao-produtos', produto.id]"
                                            class="btn btn-outline-primary btn-sm me-2">
                                            Editar
                                        </button>
                                        <button 
                                            (click)="onDelete(produto.id)"
                                            class="btn btn-outline-danger btn-sm ">Excluir</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        Número de Registros: {{ produtos.length }}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



